export ALBUM_BOT_DISCORD_BOT_TOKEN=XXXXXXXXXXXXXXXXXXXXXXXXXX.xxxxxx.XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
export ALBUM_BOT_DISCORD_CHANNEL_ID=0000000000000000000
export ALBUM_BOT_STORAGE_FILE=posted_albums_store.txt
export ALBUM_BOT_REFRESH_DELAY_MINUTES=15
export ALBUM_BOT_POST_N_LATEST=10
